/* RESET */
img {
    max-width: 100%;
}

/* WRAPPER */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* Header */
.ms_header {
    height: 80px;
    width: 100%;
}

.ms_logo-img {
    max-width: 80px;
}

.ms_form {
    background-color: #E5E5E5;
}

.ms_header-icons {
    color: grey;
}

.ms_bell {
    color: yellow;
}

/* Nav bar */
.ms_nav-bar {
    background-color: lightblue;
}

/* Main */
/* Sidebar */
.sidebar {
    width: 70px;
    height: calc(100vh - 80px);
    background-image: url(../img/sidebar-bg.png);
    background-color: black;
    position: relative;
}

/* [class^=col] {
    border: 1px solid black;
    
} */

.ms_sidebar-list a {
    color: white;
}

.ms_sidebar-list i {
    font-size: 1.2rem;
}

.admin {
    position: absolute;
    top: 90%;
    left: 15px;
}


@media screen and (min-width: 992px) {
    .sidebar {
        width: 200px;
    }
}

/* Content */
.content {
    width: calc(100% - 70px);
    height: calc(100vh - 80px);
}

/* Information bar */
.information-bar {
    background-color: #1B72E8;
    min-height: 100px;
}

.ms_new-student {
    color: white;
}

.ms_new-student i {
    color: white;
}



.ms_blaze {
    font-size: .7rem;
}


.number-student {
    font-size: 2rem;
}

/* Content grid */
.ms_table-img {
    width: 20px;
}

